@font-face {
    font-family: 'roboto-reg';
    src: url('assets/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'aviner-roman';
    src: url('assets/fonts/aviner-roman.ttf');
}

@font-face {
    font-family: 'aviner-black';
    src: url('assets/fonts/avenir-black/avenir-black.ttf');
}


html, body{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

.dev-container {
    max-width: 1517px;
    margin: 0 auto;
    padding-left: 25px;
    padding-right: 25px;
}

.cta-top{
    background-color:#487a93;
}

/* default btn */
.default-btn {
    background-color: transparent;
    padding: 10px 60px 10px 60px;
    border: 2px solid #fff;
    border-radius: 3px;
    color:#fff;
    margin-right: 17px;
}

.hero-btn-container{
    max-width: 500px;
}
 
.hero-btn-container:hover .btn-active{
    color:#fff;
    background-color: transparent;
    border: 2px solid #fff;
}

.btn-active, .default-btn:hover {
    background-color:#fff;
    color:#202020;
    text-decoration: none;
}

.btn-active:hover {
    background-color:#fff !important;
    color:#202020 !important;
    text-decoration: none !important;
}



/* CTA-Header */
.cta-top .dev-container{
    display: flex;
    justify-content: flex-end;
}

.navbar{
    padding: 0 !important;
}

.cta-top .nav-link{
    color:#ffffff;
    font-size: 16px;
    font-family: roboto-reg;
}

.cta-top .nav-link i {
    padding-left: 5px;
}

.cta-top .nav-item {
    background-color: #3b5c6d;
    padding-top: 15px;
    padding-bottom: 15px;
    
}

.cta-top .nav-item:nth-child(1) {
    padding-left:45px;
    padding-right:25px;
}
.cta-top .nav-item:nth-child(2) {
    padding-left:25px;
    padding-right:45px;
}
.cta-top .nav-item:nth-child(3) {
    background-color: #f5b91f;
    padding-left:45px;
    padding-right:45px;
}


.cta-top .nav-item:nth-child(3) .nav-link {
    color:#474543;
}

.cta-top .navbar-nav:hover .nav-item{
    background-color: #3b5c6d;
} 
.cta-top .navbar-nav:hover .nav-link{
    color:#fff;
} 

.cta-top .nav-item:hover {
    background-color: #f5b91f !important;
}  

.cta-top .nav-item:hover .nav-link{
    color: #3b5c6d;
} 

/*Main Header */
.header-logo img{
    width: 270px;
    height: 80px;
    padding:10px 0 10px 0;
}

.main-nav {
    background-color: #ffffff;
}
.main-nav a {
    font-family: aviner-roman;
    color: #202020;
    font-size: 18px;
    padding:0;
}

.main-nav a:hover {
    color: #f5b91f;
} 

.main-nav .nav-item {
    padding-left:45px;
}

.navbar-toggler {
    border:1px solid transparent !important;
}

.navbar-toggler span i{
    padding-top:15px;
}

/* Hero Section */
.hero{
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero h1 {
    color:#fff;
    font-weight: 700;
    font-size:30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 40px;
}

.hero h2 {
    color:#fff;
    font-weight: 700;
    font-size:80px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hero h2 span {
    display: block;
    font-weight: 400;
    padding-bottom: 80px;
}



/* Carousel Indicator */

#banner .carousel-indicators li{
    width:15px;
    height:15px;
    border:1px solid transparent;
    border-radius:50px;
    padding-bottom:10ppx;
}

.carousel-control-next, .carousel-control-prev{
    top: 740px;
    width: 89% !important;
}

#banner .carousel-control-prev span {
    font-size: 30px;
    left: 200px;
}

#banner .carousel-control-next span {
    font-size: 30px;
}


/* Section Banner -1 */

.section-1 .btn-container {
    padding-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
}
.section-1 .default-btn, .section-2 .default-btn, .section-3 .default-btn {
    color: #202020;
    border: 1px solid #487a93;
}
.banner-1 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.banner-1 h3 {
    font-size:19px;
    color:#202020;
    font-family: aviner-roman;
}

.banner-1 p {
    font-size:18px;
    color: #575757;
    font-family: aviner-roman;
}

.banner-1 .dev-container{
    border-bottom: 2px solid #d8d8d8;
}

/* Section 1 */
.section-1 h3 {
    font-size: 75px;
    color:#4b4b4b;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    text-align: center;
}

.section-1 p {
    font-size:24px;
    font-weight: normal;
    font-family:  aviner-roman;  
    color:#575757;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.section-1 u {
    text-decoration-color: #f4b01d;
}

.section-1 .section-title {
    padding-top:95px;
    padding-bottom:30px;
}
.section-1 .section-background {
    height: 480px;
}

.main-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:100px;
}
.section-1 .section-background img{
    -webkit-filter: drop-shadow(1px 1px 0 black)
                        drop-shadow(-1px 3px 18px #000);
    filter: drop-shadow(1px 1px 0 black) 
                drop-shadow(-1px 3px 18px #000);
}
  
  /* tooltip  Location*/
  .section-1 .section-background .tooltip-1 {
    position:relative;
    top:-320px;
    left:230px;
    max-width: 250px;
}

.section-1 .section-background .tooltip-2 {
    position:relative;
    top:-600px;
    left:420px;
    max-width: 250px;
}

.section-1 .section-background .tooltip-3 {
    position:relative;
    top:-835px;
    left:530px;
    max-width: 250px;
}

.section-1 .section-background .tooltip-4 {
    position:relative;
    top:-935px;
    left:505px;
    max-width: 250px;
}

.section-1 .section-background .tooltip-5{
    position:relative;
    top:-1100px;
    left:800px;
    max-width: 250px;
}

.section-1 .section-background .tooltip-6{
    position:relative;
    top:-1360px;
    left:1000px;
    max-width: 250px;
}

.section-1 .mobile-section {
    display: none;
}

.section-1 .holder {
    display: none;
}
/* Section-1 Accordion */

.section-1 .mobile-accordion {
    position: relative;
    top: -550px;
    width: 40%;
}

.section-1 .mobile-accordion {
    display: none;
}
.section-1 .accordion-item{
    background-color: rgba(255,255,255, 0.3);
    backdrop-filter:blur(2px);
    box-shadow: 0 0 2px #000;
    border-radius: 3px;
}

.section-1 .accordion-item hr{
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 3px;
}
.section-1 .accordion-link{
    font-size: 1.6rem;
    color: #000;
    text-decoration: none;
    background-color: rgba(255,255,255, 0.3);
    backdrop-filter:blur(2px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}
.section-1 .accordion-link h3{
    font-weight:500;
    font-size: 20px;
    color: #000;
    padding-left: 40px;
}
  
.section-1 .accordion-link i{
    color: #000;
    padding: .5rem;    
}
.section-1 .accordion-link ul{
    display:flex;
    align-items: flex-end;
    list-style-type: none;
    margin-left: 25px;
  }
  
.section-1 .accordion-link li{
    font-size: 10px;
    color: rgba(255, 255, 255, 0.4);
    padding: 0 0 1px 5px;
}

.section-1 .accordion-link div{
    display: flex;
}
  
.section-1 .accordion-link .fa-arrow-down{
    display: none;
}

.section-1 .answer{
    max-height: 0;
    overflow: hidden;
    position: relative;
    background-color: #fff;
    transition: max-height 650ms;
}

.section-1 .answer p{
    color: #000;
    font-size: 15px;
    padding: 2rem;
    
}
  
.section-1 .accordion-item:target .answer{
    max-height: 20rem;
}

.section-1 .accordion-item:target .accordion-link .fa-arrow-right{
    display: none
}
  
.section-1 .accordion-item:target .accordion-link .fa-arrow-down{
    display: block;
}

/* Section-2 */
.section-2 .arch-section {
    padding-top:140px;
    padding-bottom:85px;
}

.section-2 .first-row {
    padding-bottom:30px;
}
.section-2 .dev-container {
    border-top: 2px solid #d8d8d8;
}

.section-2 h3 {
    font-size: 75px;
    font-weight:bold;
    color:#4b4b4b;
    padding-bottom: 30px;
}

.section-2 u {
    text-decoration-color: #f4b01d;
}

.section-2 p {
    color:#575757;
    font-size: 24px;
    font-family: aviner-roman;
    padding-bottom: 30px;
}

.section-2 .text-info p {
    padding-top:25px;
}

.section-2 .img-container img {
    width:100%;
    border-radius:5px;
    box-shadow: 0 10px 12px rgba(0,0,0,0.2)
}

.section-2 .tooltip-container {
    position:absolute;
    top:-150px;
}

.section-2 .tooltip-container .tooltip-1 {
    position:relative;
    right:-330px;
    max-width: 250px;
}
.section-2 .tooltip-container .tooltip-2 {
    position:relative;
    top:-30px;
    right:-230px;
    max-width: 250px;
}

.section-2 .tooltip-container .tooltip-3 {
    position:relative;
    top:-70px;
    right:-230px;
    max-width: 250px;
}

.section-2 .img-container .image-2 {
    display: none;
}

.section-3 {
    padding-top: 30px;
    padding-bottom:20px;
    background-color: #e3e1df;
}

/* Testimonial */


.section-3 .testimonial {
    padding-top: 30px;
}

.section-3 .testimonial-content {
    padding-top: 220px;
    z-index: 20;
}


 .section-3 img {
    max-width: 600px;
    max-height: 600px;
    /* animation: blobs 25s linear infinite; */
    border-radius: 80% 45% 88% 14%;
    z-index: 20;
 }

 .section-3 h3 {
     font-size: 39px;
     font-weight: 700;
     font: italic bold 32px sans-serif;
 }

.section-3 .testi-btn-container{
    padding-top: 60px;
}

.section-3 .owl-nav {
    position:relative;
    top:-160px;
    font-size:45px;
    color:#3b657c;
}

.section-3 .owl-dots {
    position:relative;
    top:-235px;
    left:90px;
    font-size:45px;
}

.section-3 .owl-prev {
    position:relative;
    left:30px;
}

.section-3 .owl-next {
    position:relative;
    left:150px;
}
 /* @keyframes blobs {
     0% {
         border-radius: 50% 45% 88% 14%;
     }
     25% {
        border-radius: 40% 475% 12% 14%;
     }
     50% {
        border-radius: 65% 45% 12% 45%;
     }
     75% {
        border-radius: 50% 67% 23% 14%;
     }
     100% {
        border-radius: 50% 45% 23% 87%;
     }
 } */



 /* Section-4 */
 .section-4 {
    background-color:#ffffff;
    padding-top: 150px;
    padding-bottom:120px;
 }
 
 .section-4 .section-text u {
    text-decoration-color: #f4b01d;
 }
 .section-4 .section-text {
     padding-bottom: 40px;
 }

 .section-4 .section-text h3 {
     color: #4b4b4b;
     font-size: 75px;
     font-weight: 700;
     display: block;
     text-align: center;
     padding-bottom: 50px;
 }

 .section-4 .section-text p {
     color:#575757;
     font-size: 30px;
     max-width: 620px;
     margin: 0 auto;
     text-align: center;
 }

 .section-4 .btn-default {
    padding:  15px 30px 15px 30px;
    border-radius: 3px;
    background-color: #f4b01d;
    color:#484643;
    text-decoration: none;
  }

  .section-4 .btn-container {
      margin:auto;
  }

  .section-4 #img-row-1 {
      display: flex;
      justify-content: flex-end;
  }

  /* Footer */
  footer{
      padding-top: 50px;
      padding-bottom: 50px;
      background-color:#487a93;
      color:#cccccc;
  }
/* Mobile Responsive */

@media screen and (max-width:1530px) and (min-width:1270px) {
    .section-2 .arch-section {
        padding-top:200px;
        transition: 1s ease;
    }
}

@media only screen and  (max-width:1527px){

    .section-1 .main-item {
        padding-top: 140px;
    }
    .section-1 .main-item img {
        -webkit-transform: rotate(40deg);
        transform: rotate(40deg);
        max-width:100%;
        transition:1s ease;
        margin: 0 auto;
    }
    .section-1 .section-background .tooltip-1{
        top:calc(80% - 950px);
        left:calc(80% - 710px);
        max-width: 40px !important;
        transition:1s ease;
    }
    .section-1 .section-background .tooltip-2{
        top:calc(80% - 1080px);
        left:calc(80% - 510px);
        max-width: 40px !important;
        transition:1s ease;
    }
    .section-1 .section-background .tooltip-3{
        top:calc(80% - 1230px);
        left:calc(80% - 410px);
        max-width: 40px !important;
        transition:1s ease;
    }
    .section-1 .section-background .tooltip-4{
        top:calc(80% - 1390px);
        left:calc(80% - 510px);
        max-width: 40px !important;
        transition:1s ease;
    }
    .section-1 .section-background .tooltip-5{
        top:calc(80% - 1390px);
       left:calc(80% - 230px);
       max-width: 40px !important;
       transition:1s ease;
   }
   .section-1 .section-background .tooltip-6{
        top:calc(80% - 1490px);
       left:calc(80% - 130px);
       max-width: 40px !important;
       transition:1s ease;
   }
  

}

@media only screen and (max-width:1466px){
    .section-2 .img-container .image-1 {
        display: none;
        transition: 1s ease;
    }

    .section-2 .img-container .image-2 {
        display: flex;
        transition: 1s ease;
    }
    .section-2 .first-row-container {
        transition:1s ease;
         padding-top:calc(80% - 950px);
    }
    
    .section-2 .tooltip-container .tooltip-1 {
        position:relative;
        top:50px;
    }
    .section-2 .tooltip-container .tooltip-2 {
        position:relative;
        top:90px;
        left:90px;
    }
    
    .section-2 .tooltip-container .tooltip-3 {
        position:relative;
        top:110px;
        left:120px;
    }
}


@media only screen and (max-width:1330px){
    .carousel-control-next, .carousel-control-prev{
        width: 70% !important;
        transition: 1s ease;
    }
}

@media only screen and (max-width:1110px){
    .section-2 h3 {
        font-size: 50px;
        transition: 1s ease;
    }
    .section-2 .text-info p {
        font-size:18px;
        padding-left: 20px;
        padding-top: 30px;
        transition: 1s ease;
    }
}

@media screen and (max-width:1030px) and (min-width:992px) {
    .cta-top .nav-item{
        padding-left:15px;
        padding-right:15px;
    }
    
    .main-nav .nav-item {
        padding-left: 20px !important;
        transition: 1s ease;
    }
    
}
@media only screen and (max-width:1024px) {
    .hero h2 {
        font-size:50px;
        transition: 1s ease;
    }
    .carousel-control-next, .carousel-control-prev{
        top: 665px;
    }

    .section-1 .section-title h3 {
        font-size:45px;
        padding-bottom: 10px;
        transition: 1s ease;
    }
    .section-1 .section-title p {
        font-size:16px;
        padding-bottom: 30px;
        max-width: 450px;
        margin: 0 auto;
        transition: 1s ease;
    }

    .section-1 .section-background {
        display: none;
    }

    .section-1 .mobile-section {
        display: flex;
        justify-content:center;
        align-items:center;
        padding-top:450px;
        max-width: 450PX !important;
    }


    .section-1 .mobile-section img {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    

    .section-1 .holder {
        display: flex;
        height: 490px !important;
        transition: 1s ease;
    }
    
    .section-1 .mobile-tool-tip {
        visibility: visible;
    }

    .section-1 .mobile-tool-tip .tooltip-1{
        position:relative;
        top:-680px;
        display:flex;
        justify-content:center;
        transition:1s ease;
    }

    .section-1 .mobile-tool-tip .tooltip-2{
        position:relative;
        top:-850px;
        display:flex;
        justify-content:center;
        transition:1s ease;
        padding-left:90px;
    }

    .section-1 .mobile-tool-tip .tooltip-3{
        position:relative;
        top:-1130px;
        display:flex;
        justify-content:center;
        transition:1s ease;
    }

    .section-1 .mobile-tool-tip .tooltip-4{
        position:relative;
        top:-1430px;
        display:flex;
        justify-content:center;
        transition:1s ease;
        padding-left:120px;
    }

    .section-1 .mobile-tool-tip .tooltip-5{
        position:relative;
        top:-1530px;
        display:flex;
        justify-content:center;
        transition:1s ease;
        padding-right:80px;
    }

    .section-1 .mobile-tool-tip .tooltip-6{
        position:relative;
        top:-1730px;
        display:flex;
        justify-content:center;
        transition:1s ease;
        padding-right:80px;
    }

    /* Section-2 */


}

@media only screen and (max-width:992px){
    .container-fluid .navbar-nav{
        display: none;
    }

    .banner-1 .banner-logo {
        max-width:560px !important;
        margin: 0  auto;
        padding-bottom: 5px;
    }

    .banner-1 h3, .banner-1 h3 {
        font-size:16px;
    }

    .section-2 .arch-section {
        max-width:650px;
        padding-left: 10px;
        padding-right: 10px;
        margin: 0 auto;
    }

    .section-2 h3 {
        display: block;
        text-align: center;
    }

    .section-2 p {
        text-align: center;
    }

    .section-2 .first-row {
        max-width: 480px;
        margin: 0 auto;
    }

    .section-2 .first-row-container {
        margin-bottom: 40px;
    }

    .section-2 .default-btn {
      display: block;
      text-align: center;
      width: 50%;
      margin:0 auto;
    }

    /* testimonials */

    .section-3 img {
        max-width: 70%;
        max-height: 70%;
        /* animation: blobs 25s linear infinite; */
        border-radius: 80% 45% 88% 14%;
        margin:0 auto;
     }

     .section-3 .testimonial-content {
        padding-bottom:30px !important;
        padding-top: 0px;
        display: flex;
     }

     .section-3 .container-testi {
        display:flex;
        justify-content:center;
        align-items:center;
     }

     .section-3 .owl-nav, .section-3 .owl-dots {
        display: none;
    }

    .section-3 .container-testi h3 {
        text-align:center;
        position:relative;
        top:-120px;
        left:180px;
     }

     .section-3 .testi-btn-container {
        position:relative;
        top:-20px;
        right:150px;
    }
   
}

@media only screen and (max-width:856px) {
    .carousel-control-next, .carousel-control-prev{
        display: none;
    }
}

@media only screen and (max-width:820px){
    .section-1 .mobile-tool-tip {
        display: none;
    }

    .section-1 .mobile-accordion {
        display: flex;
    }
}

@media only screen and (max-width:769px){
    .section-1 .holder {
        display: flex;
        height: 0 !important;
        transition: 1s ease;
    }
    .section-1 .btn-container{
        padding-top: 0;
        position: relative;
        top: -200px;
    }
}
@media only screen and (max-width:532px){
    .hero-btn-container a {
        display: block;
        width: 60%;
        margin: 10px auto;
    }

    .hero .dev-container {
        text-align: center;
    }
    .section-1 .mobile-accordion {
        width: 100%;
    }
    .section-2 .default-btn {
        width: 80%;
    }
    .section-2 .tooltip-container {
        display: none;
    }
}

@media only screen and (max-width:435px){
    .hero-btn-container a {
        width: 80%;
    }
}


